body {
    font-family:'Courier New', Courier, monospace;
    /* text-align: center; */
    background-color: #1a1a1a;
    width: 100vw;
    height: 100vh;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

h1{
    color: aliceblue;
    border: 2px solid green;
    border-radius: 15px;
    padding: 10px;
}

div{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#board {
    /* background-color: skyblue; */
    background-image: url("./flappybirdbg.png");
    border-radius: 15px;
    border: 2px solid white;
}